@import '../../variables';

.user_container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .user_img_box {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 44px;
        border-radius: 50%;
    }

    .user_name {
        font-size: 16px;
        font-weight: bold;
        color: var(--secondary-color);
    }

    .user_data {
        display: flex;
        align-items: center;
        gap: 20px;

        .subscribe_btn {
            background-color: #0095f6;
            padding: 8px;
            border-radius: 10px;
            color: white;
        }

        .signed_btn {
            background-color: #363636;
            padding: 8px;
            border-radius: 10px;
            color: white;
        }
    }
}