@import '../../variables';

.page_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
    align-items: center;
    margin-left: 30%;
    padding-top: 3em;

    @media screen and (max-width: 768px) {
        margin: 0;
        align-items: center;
        width: 100%;
    }

    .user_information {
        display: flex;
        gap: 5em;

        @media screen and (max-width: 768px) {
            align-items: center;
            justify-content: center;
            gap: 2em;
        }

        .profile_img {
            width: 150px;
            height: 150px;
            border-radius: 50%;

            @media screen and (max-width: 768px) {
                width: 80px;
                height: 80px;
            }
        }

        .user_data_wrapper {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .user_data_under_line {
                display: flex;
                gap: 15px;
                align-items: center;

                @media screen and (max-width: 768px) {
                    gap: 10px;
                    justify-content: center;

                    p {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }

            .user_data_upper_line {
                display: flex;
                gap: 15px;
                align-items: center;

                @media screen and (max-width: 768px) {
                    justify-content: center;
                }

                img {
                    width: 15px;
                }

                .user_data_name {
                    font-size: 20px;
                    font-weight: bold;
                    color: var(--secondary-color);
                }

                .subscribe_btn {
                    background-color: #0095f6;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                }

                .signed_btn {
                    background-color: #363636;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
    }

    .story_wrapper {
        display: flex;
        gap: 1em;
    }

    .posts_wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--secondary-color);
        justify-content: center;

        .choose_posts_wrapper {
            display: flex;
            gap: 5em;
            justify-content: center;

            .choose_posts_btn {
                padding: 20px;
            }
        }

        .posts_container {
            display: flex;
            row-gap: 0.5%;
            flex-wrap: wrap;
        }
    }

    .upper_user_data {
        display: none;

        @media screen and (max-width: 768px) {
            position: fixed;
            top: 0;
            display: flex;
            width: 90vw;
            justify-content: space-between;
            margin-top: 15px;

            button {
                padding: 0;
            }

            .aside_icons {
                width: 20px;
                padding: 0;
            }
        }
    }
}

button {
    color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .user_data_name, .edit_btn, .check_archiv_btn, .setting_btn {
        display: none;
    }
}